:root {
    font-size: 16px;
    font-family: 'Century Gothic', 'URW Gothic', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --transition-speed: 600ms;
}

body {
    background: url("./Resources/bg.jpg");
    background-size: cover;
    color: white;
    margin: 0;
    padding: 0;
}
#searchForm {
    display: flex;
    align-items: center;
  }
  
  /* Style for the search input */
  #searchInput {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
    width: 400px;
    font-size: 16px;
  }
  form{
    margin: auto;
  width: 50%;
  padding: 10px;
  }
  /* Style for the search button */
  #searchForm button {
    padding: 8px 12px;
    background-color: #4CAF50;
    border: none;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  .songitem {
    padding: 20px;
    transition: transform .2s; /* Animation */
    width: 200px;
    height: 200px;
    margin: 0 auto;
    cursor: pointer;
  }
  
  .songitem:hover {
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }
  /* Hover effect for the search button */
  #searchForm button:hover {
    background-color: #ca0ca4;
  }
  
main {
    margin-left: 5rem;
    padding: 1rem;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

body::-webkit-scrollbar {
    width: 0.75rem;
}

body::-webkit-scrollbar-track {
    background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
    background: #6649b8;
}

.container {
    height: 100vh;
    display: flex;
}

.songitem {
    display: flex;
    flex-direction: column;
    height: 6.25rem;
    width: 10rem;
    padding-bottom: 8.35rem;
    padding-right: 2.5rem;
}

.songlist {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.songitem img {
    width: 150px;
}

.songlistplay i img {
    width: 1rem;
}

.bottom {
    height: 12%;
    width: 90%;
    position: fixed;
    bottom: 0;
    background-color: #23232e;
    border-radius: 0.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#ProgressBar {
    width: 80%;
}

.bottom .icon img {
    width: 2rem;
    margin-top: 0.5rem;
    cursor: pointer;
}

.songinfo-container{
    display: flex;
    align-items: center;
}

.songinfo {
    position: absolute;
    left: 16vw;
}

.songinfo img {
    opacity: 0;
    transition: 1s ease-in;
}

.button-container {
    display: flex;
    justify-content: space-between; /* Adjust the spacing between buttons */
  }

.cssbuttons-io {
    position: relative;
    font-family: inherit;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.05em;
    border-radius: 0.8em;
    border: none;
    background: linear-gradient(to right, #8e2de2, #2b0044);
    color: ghostwhite;
    overflow: hidden;
    z-index: 2; /* Increase the z-index to position the button above the navbar */
    height: 80px; /* Adjust the height value as needed */
    width: 370px; /* Adjust the width value as needed */ 
    box-shadow: 0 4px 10px #141418; 
    cursor: pointer;  
  }
  
 
  
  .cssbuttons-io span {
    position: relative;
    z-index: 10;
    transition: color 0.4s;
    display: inline-flex;
    align-items: center;
    padding: 0.8em 1.2em 0.8em 1.05em;
  }
  
  .cssbuttons-io::before,
  .cssbuttons-io::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; /* Decrease the z-index to position the pseudo-elements behind the button */
  }
  
  .cssbuttons-io::before {
    content: "";
    background:  #2b0044;
    width: 120%;
    left: -10%;
    transform: skew(30deg);
    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
  }
  
  .cssbuttons-io:hover::before {
    transform: translate3d(100%, 0, 0);
  }
  
  .cssbuttons-io:active {
    transform: scale(0.95);
  }
  